<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valmistajatieto</title>
</head>

<body>
    <h4>Lisää valmistaja</h4>
    <!-- uuden valmistajatiedon lisäys -->
    <form th:action="@{/savemanufacturer}" th:object="${manufacturer}" method="post">
        <div>
            <input type="text" th:field="${manufacturer.manufacturer}" placeholder="Valmistaja" />

            <button type="submit">Lisää valmistaja</button>
        </div>
    </form>
    <br>


</body>

</html>