<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisää tuote</title>
</head>

<body>
    <h1>Tuotteen lisäys</h1>
    <!-- tuotteen lisäys form-->
    <div>
        <form method="post" action="#" th:action="@{/saveproduct}" th:object="@{product}">
            <div class="row g-2">
                <div class="col">
                    <input type="text" th:field="${product.name}" placeholder="Tuotteen nimi">
                </div>

                <div class="col">
                    <input type="text" th:field="${product.type}" placeholder="Tyyppi">
                </div>

                <div class="col">
                    <input type="text" th:field="${product.color}" placeholder="Väri">
                </div>

                <div class="col">
                    <input type="text" th:field="${product.size}" placeholder="Koko">
                </div>

                <div class="col">
                    <input type="text" th:field="${product.price}" placeholder="Hinta">
                </div>

                <div class="col">
                    <input type="text" th:field="${product.manufacturer}" placeholder="Valmistaja">
                </div>

                <div class="col">
                    <input type="text" th:field="${product.manufacturer}" placeholder="Valmistaja">
                </div>

                <div class="col">
                    <button type="submit">Add book</button>
                </div>



            </div>

        </form>
    </div>

</body>

</html>