<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisää lelu</title>
</head>

<body>
    <h1>VARASTONSEURANTAJÄRJESTELMÄ</h1>
    <h4>Lisää lelu</h4>
    <!--formi lelun lisäämiseksi-->
    <form method="post" action="#" th:action="@{/savetoy}" th:object="${toy}">
        <div>
            <input type="text" th:field="*{name}" placeholder="Tuotteen nimi">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
        </div>
        <div>
            <input type="text" th:field="*{price}" placeholder="Hinta">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>

        <select th:field="*{manufacturer}">
            <option value="">Valitse valmistaja</option>
            <option th:each="m : ${manufacturers}" th:value="${m.manufacturerId}" th:text="${m.mname}">
            </option>
        </select>

        <input type="text" th:field="*{toyType}" placeholder="Lelun tyyppi">

        <select th:field="*{toySize}">
            <option value="">Lelun koko</option>
            <option th:each="size : ${toySizes}" th:value="${size}" th:text="${size}">
            </option>
        </select>

        <button type="submit">Lisää tuote</button>
    </form>


</body>

</html>