<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisää lelu</title>
</head>

<body>
    <h1>VARASTONSEURANTAJÄRJESTELMÄ</h1>


    <div>
        <a th:href="@{/index}"> <button type="button">Takaisin etusivulle</button></a>
        <br>
    </div>

    <h4>Lisää lelu</h4>

    <!--formi lelun lisäämiseksi-->
    <form method="post" action="#" th:action="@{/savetoy}" th:object="${toy}">
        <div>
            <label for="">Lelun nimi: </label>
            <input type="text" th:field="*{name}" placeholder="Lelun nimi">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
        </div>
        <div>
            <label for="">Hinta: </label>
            <input type="text" th:field="*{price}" placeholder="Hinta">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>

        <div>
            <label for="">Valmistaja: </label>
            <select th:field="*{manufacturer}">
                <option value="">Valitse valmistaja</option>
                <option th:each="m : ${manufacturers}" th:value="${m.manufacturerId}" th:text="${m.mname}">
                </option>
            </select>
        </div>

        <div>
            <label for="">Lelun tyyppi: </label>
            <input type="text" th:field="*{toyType}" placeholder="Lelun tyyppi">
        </div>

        <div>
            <label for="">Lelun koko: </label>
            <select th:field="*{toySize}">
                <option value="">Lelun koko</option>
                <option th:each="size : ${toySizes}" th:value="${size}" th:text="${size}">
                </option>
            </select>
            <br>
            <br>
        </div>



        <button type="submit">Lisää tuote</button>
    </form>


</body>

</html>