<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisää lelu</title>
</head>

<body>
    <h1>VARASTONSEURANTAJÄRJESTELMÄ</h1>
    <h4>Lisää lelu</h4>
    <!--formi lelun lisäämiseksi-->
    <form method="post" action="#" th:action="@{/savetoy}" th:object="${toy}">
        <input type="text" th:field="*{name}" placeholder="Tuotteen nimi">
        <input type="text" th:field="*{price}" placeholder="Hinta">

        <select th:field="*{manufacturer}">
            <option value="">Valitse valmistaja</option>
            <option th:each="m : ${manufacturers}" th:value="${m.manufacturerId}" th:text="${m.mname}">
            </option>
        </select>

        <input type="text" th:field="*{toyType}" placeholder="Lelun tyyppi">
        <input type="text" th:field="*{toySize}" placeholder="Lelun koko">

        <button type="submit">Lisää tuote</button>
    </form>


</body>

</html>