<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista vaatteista</title>
</head>

<body>
    <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>

    <a th:href="@{/index}"><button type="button">Takaisin</button></a>

    <h3>Vaatteet</h3>

    <div>
        <table>
            <tr>
                <th>Nimi</th>
                <th>Hinta (€)</th>
                <th>Valmistaja</th>
                <th>Koko</th>
                <th>Väri</th>
            </tr>
            <tr th:each="clothing : ${clothes}">
                <td th:text="${clothing.name}"></td>
                <td th:text="${clothing.price}"></td>
                <td th:text="${clothing.manufacturer} ? ${clothing.manufacturer.mname} : '' "></td>
                <td th:text="${clothing.clothingSize}"></td>
                <td th:text="${clothing.color}"></td>

                <!--muokkausnäppäin-->
                <td>
                    <a th:href="@{/editclothing/{id}(id=${clothing.productId})}"> <button
                            type="button">Muokkaa</button></a>
                </td>
                <!-- poistonäppäin -->
                <td>
                    <a th:href="@{/deleteproduct/{id}(id=${clothing.productId}, redirect='clothing')}"> <button
                            type="button">Poista</button></a>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>