<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muokkaa tuotetta</title>
</head>

<body>
  <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>
  <h4>Muokkaa tuotetta</h4>

  <form th:object="${clothing}" th:action="@{/saveclothing}" action="#" method="post">

    <input type="hidden" th:field="${clothing.clothingtId}" />

    <div>
      <input type="text" th:field="${clothing.name}" placeholder="Vaatteen nimi">
    </div>

    <!--<div>
      <input type="text" th:field="${clothing.type}" placeholder="Tyyppi">
    </div> -->

    <div>
      <input type="text" th:field="${clothing.color}" placeholder="Väri">
    </div>

    <div>
      <input type="text" th:field="${clothing.price}" placeholder="Hinta">
    </div>

    <div>
      <input type="text" th:field="${clothing.size}" placeholder="Koko">
    </div>



    <div class="col">
      <select id="manufacturerlist" th:field="${product.manufacturer}" class="form-select">
        <option value="">Valitse valmistaja</option>
        <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.manufacturerId}"
          th:text="${manufacturer.mname}">
        </option>
      </select>
    </div>

    <button type="submit">Tallenna</button>

  </form>

</body>

</html>