<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muokkaa tuotetta</title>
</head>

<body>
  <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>

  <a th:href="@{/clothinglist}"><button type="button"> Peruuta </button></a>

  <h4>Muokkaa tuotetta</h4>

  <form method="post" action="#" th:action="@{/saveclothing}" th:object="${clothing}">

    <input type="hidden" th:field="*{productId}" />

    <div>
      <input type="text" th:field="*{name}" placeholder="Vaatteen nimi">
    </div>

    <div>
      <input type="text" th:field="*{color}" placeholder="Väri">
    </div>

    <div>
      <input type="text" th:field="*{price}" placeholder="Hinta">
    </div>

    <div>
      <select th:field="*{clothingSize}">
        <option value="">Valitse koko</option>
        <option th:each="size : ${sizes}" th:value="${size}" th:text="${size}"></option>
      </select>
    </div>

    <div class="col">
      <select id="manufacturerlist" th:field="*{manufacturer}" class="form-select">
        <option value="">Valitse valmistaja</option>
        <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.manufacturerId}"
          th:text="${manufacturer.mname}">
        </option>
      </select>
    </div>

    <button type="submit">Tallenna</button>

  </form>

</body>

</html>