<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valmistajatieto</title>
</head>

<body>
    <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>

    <a th:href="@{/manufacturerlist}"><button type="button"> Peruuta </button></a>

    <h4>Muokkaa valmistajaa</h4>

    <!-- uuden valmistajatiedon lisäys -->
    <form th:action="@{/editmanufacturer}" th:object="${manufacturer}" method="post">
        <div>
            <label for="">Valmistajan nimitieto: </label>
            <br>
            <input type="hidden" th:field="${manufacturer.manufacturerId}">
            <input type="text" th:field="${manufacturer.mname}" placeholder="Valmistaja" />

            <button type="submit">Tallenna muokkaukset</button>
        </div>
    </form>

</body>

</html>