<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muokkaa tuotetta</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cabin+Sketch:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Oma CSS -->
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>

<body>
    <!-- Header -->
    <div class="header">
        <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>

        <div class="header-user">
            <h3>Olet kirjautunut <span sec:authentication="name" class="username-color"></span> käyttäjänä.</h3>
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-sm" type="submit" value="Kirjaudu Ulos">
            </form>
        </div>
    </div>

    <!-- Formi -->

    <div class="form-container">
        <div class="header-form">
            <h4>Muokkaa lelua</h4>
            <a th:href="@{/index}"> <button class="btn btn-sm" type="button"> Etusivulle </button></a>
        </div>

        <!-- formi lelun muokkaamiseksi -->
        <form method="post" action="#" th:action="@{/savetoy}" th:object="${toy}">

            <input type="hidden" th:field="*{productId}" />

            <!-- Lelun nimi -->
            <div class="form-group">
                <label for="">Lelun nimi: </label>
                <input class="form-control" type="text" th:field="*{name}" placeholder="Nimi">
            </div>

            <!-- Lelun hinta -->
            <div class="form-group">
                <label for="">Hinta: </label>
                <input class="form-control" type="text" th:field="*{price}" placeholder="Hinta">
            </div>

            <!-- Lelun valmistaja -->
            <div class="form-group">
                <label for="">Valmistaja: </label>

                <select id="manufacturerlist" th:field="*{manufacturer}" class="form-select form-control">
                    <option value="">Valitse valmistaja</option>
                    <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.manufacturerId}"
                        th:text="${manufacturer.mname}">
                    </option>
                </select>
            </div>

            <!-- Lelun tyyppi -->
            <div class="form-group">
                <label for="">Lelun tyyppi: </label>
                <select th:field="*{toyType}" class="form-select form-control">
                    <option value="">Valitsen lelun tyyppi</option>
                    <option th:each="ttype : ${toytypes}" th:value="${ttype}" th:text="${ttype}"></option>
                </select>
            </div>

            <!-- Lelun koko -->
            <div class="form-group">
                <label for="">Lelun koko: </label>
                <select th:field="*{toySize}" class="form-select form-control">
                    <option value="">Valitse koko</option>
                    <option th:each="size : ${sizes}" th:value="${size}" th:text="${size}"></option>
                </select>
            </div>

            <!-- Tallenna & Peruuta -->
            <div class="div-margin">
                <button class="btn btn-sm" type="submit">Tallenna</button>
                <a th:href="@{/toylist}"><button class="btn btn-sm" type="button"> Peruuta </button></a>
            </div>
        </form>

</body>

</html>