<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista ruuista</title>
</head>

<body>
    <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>

    <a th:href="@{/index}"><button type="button">Takaisin</button></a>

    <h3>Ruuat</h3>

    <div>
        <table>
            <tr>
                <th>Nimi</th>
                <th>Hinta (€)</th>
                <th>Valmistaja</th>
                <th>Tuotetyyppi</th>
                <th>Ruuan tyyppi</th>
                <th>Koiran ikä</th>
            </tr>
            <tr th:each="food : ${foods}">
                <td th:text="${food.name}"></td>
                <td th:text="${food.price}"></td>
                <td th:text="${food.manufacturer} != null ? ${food.manufacturer.mname} : '' "></td>
                <td th:text="${food.productType}"></td>
                <td th:text="${food.foodType}"></td>
                <td th:text="${food.dogAge}"></td>

                <!--muokkausnäppäin ADMIN -käyttäjälle-->
                <td sec:authorize="hasAuthority ('ADMIN')">
                    <a th:href="@{/editfood/{id}(id=${food.productId})}"> <button type="button">Muokkaa</button></a>
                </td>
                <!-- poistonäppäin ADMIN -käyttäjälle -->
                <td sec:authorize="hasAuthority ('ADMIN')">
                    <a th:href="@{/deleteproduct/{id}(id=${food.productId}, redirect='food')}"> <button
                            type="button">Poista</button></a>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>