<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tuotelistaus</title>
</head>

<body>
  <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>

  <table>
    <tr>
      <th> Nimi </th>
      <th> Hinta </th>
      <th> Valmistaja </th>
      <th> Tyyppi </th>
      <th> Lisätiedot</th>


    </tr>

    <tr th:each="product : ${products}">
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.manufacturer} ? ${product.manufacturer.mname} : ''"></td>
      <!--tuotteen tyyppi: lelu/ruoka/vaate-->
      <td th:text="${product.productType}"></td>

      <td>
        <!-- jos tuotteen tyyppi on lelu-->
        <span th:if="${product.productType == 'Lelu'}"
          th:text="'Tyyppi: ' + ${product.toyType} + ', Koko: ' + ${product.toySize}"></span>

        <!-- jos tuotteen tyyppi on ruoka-->
        <span th:if="${product.productType == 'Ruoka'}"
          th:text="'Tyyppi: ' + ${product.foodType} + ', Koiran ikä: ' + ${product.dogAge}"></span>

        <!-- jos tuotteen tyyppi on vaate-->
        <span th:if="${product.productType == 'Vaate'}"
          th:text="'Koko: ' + ${product.clothingSize} + ', Väri: ' + ${product.color}"></span>
      </td>



      <!-- muokkaus -näppäin -->
      <td><a th:href="@{/editproduct/{id} (id=${product.productId})}">Muokkaa</a></td>
      <!-- poista -näppäin  -->
      <td><a th:href="@{/deleteproduct/{id}(id=${product.productId})}">Poista</a></td>

    </tr>
  </table>
  <br>

  <a th:href="@{/addproduct}"> Lisää tuote </a>
  <br>
  <a th:href="@{/manufacturerlist}"> Valmistajatiedot </a>
</body>

</html>