<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tuotelistaus</title>
</head>

<body>
  <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>

  <div>
    <a th:href="@{/addproduct}"><button type="button">Lisää tuote </button></a>
    <a th:href="@{/manufacturerlist}"><button type="button">Valmistajatiedot</button> </a>
    <br>
    <br>
  </div>


  <table>
    <tr>
      <th> Nimi </th>
      <th> Hinta </th>
      <th> Valmistaja </th>
      <th> Tyyppi </th>
      <th> Lisätiedot</th>
    </tr>

    <tr th:each="product : ${products}">
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.manufacturer} ? ${product.manufacturer.mname} : ''"></td>

      <!-- tuotteen tyyppi -->
      <td th:text="${product.productType}"></td>

      <td>
        <!-- jos tuotteen tyyppi on lelu -->
        <div th:if="${product.productType == 'Lelu'}">
          <div th:text="'Lelutyyppi: ' + ${product.toyType}"></div>
          <div th:text="'Koko: ' + ${product.toySize}"></div>
        </div>

        <!-- jos tuotteen tyyppi on ruoka -->
        <div th:if="${product.productType == 'Ruoka'}">
          <div th:text="'Ruokatyyppi: ' + ${product.foodType}"></div>
          <div th:text="'Koiran ikä: ' + ${product.dogAge}"></div>
        </div>

        <!-- jos tuotteen tyyppi on vaate -->
        <div th:if="${product.productType == 'Vaate'}">
          <div th:text="'Koko: ' + ${product.clothingSize}"></div>
          <div th:text="'Väri: ' + ${product.color}"></div>
        </div>
      </td>

      <!-- muokkausnäppäin -->
      <td>
        <!-- vaate -->
        <a th:if="${product.productType == 'Vaate'}" th:href="@{/editclothing/{id}(id=${product.productId})}">
          Muokkaa
        </a>
        <!-- ruoka -->
        <a th:if="${product.productType == 'Ruoka'}" th:href="@{/editfood/{id}(id=${product.productId})}">
          Muokkaa
        </a>
        <!-- lelu -->
        <a th:if="${product.productType == 'Lelu'}" th:href="@{/edittoy/{id}(id=${product.productId})}">
          Muokkaa
        </a>
      </td>

      <!-- poistonäppäin -->
      <td>
        <a th:href="@{/deleteproduct/{id}(id=${product.productId})}">Poista</a>
      </td>

    </tr>
  </table>

  <br>


</body>

</html>