<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista valmistajista</title>
</head>

<body>
    <h1> VARASTONSEURANTAJÄRJESTELMÄ </h1>

    <a th:href="@{/index}"> <button type="button">Etusivulle</button></a>

    <!--vain ADMIN -käyttäjällä on oikeus lisätä uusia valmistajatietoja-->
    <div sec:authorize="hasAuthority('ADMIN')">
        <h4>Lisää valmistaja</h4>
        <!-- uuden valmistajatiedon lisäys -->
        <form th:action="@{/savemanufacturer}" th:object="${manufacturer}" method="post">
            <div>
                <label for="">Valmistajan nimitieto: </label>
                <br>
                <input type="text" th:field="*{mname}" placeholder="Valmistaja" />
                <button type="submit">Lisää valmistaja</button>
                <!--validointi-->
                <div th:if="${#fields.hasErrors('mname')}" th:errors="*{mname}" style="color: red;"></div>
            </div>
        </form>
    </div>

    <div>
        <h4>Lista valmistajista</h4>
        <table>
            <tr>
                <th>Nimi</th>
            </tr>
            <tr th:each="manufacturer : ${manufacturers}">
                <td th:text="${manufacturer.mname}"></td>

                <!--muokkaustoiminto ADMIN -käyttäjälle-->
                <td sec:authorize="hasAuthority ('ADMIN')">
                    <a th:href="@{/editmanufacturer/{id} (id=${manufacturer.manufacturerId})}">
                        <button type="button">Muokkaa</button>
                    </a>
                </td>

                <!--poistotoiminto ADMIN -käyttäjälle-->
                <td sec:authorize="hasAuthority ('ADMIN')">
                    <a th:href="@{/deletemanufacturer/{id}(id=${manufacturer.manufacturerId})}"
                        th:attr="data-name=${manufacturer.mname}"
                        onclick="return confirm('Poistetaanko valmistaja: ' + this.dataset.name + '?');">
                        <button type="button">Poista</button>
                    </a>
                </td>

            </tr>
        </table>
    </div>
</body>

</html>